body{
   padding-right: 0px;
}
.container{
  border-left: 6px solid black;
  min-height: 1600px;
  max-width: auto;
}
h1{
  font-style: bold;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  border: 11px solid black;
  border-top: 16px solid black;
  border-bottom: 16px solid black;
  color: #7A0082;
  background-color: #5BD0DE
}
h2{
  font-size: 18px;
  font-family: sans-serif;
}
h3{
  padding-left: 0px;
}
.totheright{
  max-width: 55%;
  max-height: auto;
  float: right;
}
.question {
  float: left;
  font-style: italic;
}
.question li {
  font-style: normal;
  line-height: 36px;

}
#yesorno{
  margin-bottom: 20px;
}
.btn-dark{
  min-width: 525px;
  margin-left: 82px;
}
#submitbtn{
  font-weight: 200;
  text-align: center;
  color: white;
}
